@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}
/* common css end */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
.gap{
    margin: 120px 0;
}
.container{
    max-width: 992px;
    margin: 0 auto;
    padding: 0 10px;
}
.btn-color{
    color: #FF900E;
}
.banner-title{
    font-size: 60px;
    font-weight: 600;
    color: #131313;
    line-height: 72px;
}
.section-title{
    font-size: 40px;
    font-weight: 600;
    color: #131313;
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    line-height: 28px;
    padding: 20px 0;
}
.feature-title{
    font-size: 14px;
    font-weight: 400;
    color: #131313;
}
.common-btn{
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 10px 15px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
}
/* common css end */
/* header part start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.navbar-logo a{
   font-size: 30px;
   font-weight: 600;
   color: #131313;
}
.navbar nav ul{
    display: flex;
    gap: 30px;
}
.navbar nav ul li a{
    font-size:14px ;
    font-weight: 400;
    color: #727272;
    border-bottom: 1px solid transparent;
    transition: ease-in-out 0.2s;
}
.navbar nav ul li a:hover{
    border-bottom: 1px solid #FF900E;
    color: #FF900E;
    transition: ease-in-out 0.2s;
}
/* banner part start */
.banner{
    margin-top: 60px;
}
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    padding: 5px;
    align-items: center;
}
.banner-text{
    max-width: 700px;
    text-align: center;
}
.banner-text h1 span{
    display: block;
}
.banner-text p{
    padding: 20px 0;
}
.banner-image img{
    width: 100%;
    height: auto;
}
/* banner part end */
/* header part end */
/* our-feature part start */
.our-feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.feature-image{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   flex-basis: 100%;
   gap: 15px;
}
.feature-image .div img{
    width: 100%;
    height: auto;
}
 .our-feature-container .feature-text{
    flex-basis: 100%;
}
/* our-feature part end */
/* feature love part start */
.feature-love-container{
    display: flex;
    justify-content: space-between;
}
.feature-content-text{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.feature-content-text .inner-text-1 h2{
   border-left: 3px solid;
   border-left-color: #FF900E;
   padding-left: 8px;
}
.inner-text-2 .inner-item{
    margin: 25px 0;
}
.inner-text-2 .inner-item h5{
    font-size: 16px;
    font-weight: 600;
    color: #131313;
}
.inner-text-2 .inner-item p{
    padding: 10px 0;
}
.feature-content-image{
    flex-basis: 100%;
    position: relative;
}
.feature-content-image .overly{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 100px;
    background-color: #FF900E;
    position: absolute;
    left: 10%;
    bottom: 5%;
    color: #FFFFFF;
}
.feature-content-image .overly h6{
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
}
.feature-content-image .overly span{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    margin-top: 5px;
}
.feature-content-image img{
    width: 100%;
    height: auto;
}
/* feature love part end */
/* facts part start */

.facts-container .facts-text{
    max-width: 500px;
    margin-bottom: 50px;
}
.facts-container .facts-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}
.facts-items .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px;
    border: 1px solid #FF900E;
}
.facts-items .item .number span{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #131313;
}
.facts-items .item span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    text-transform: capitalize;
}
/* facts part end */
/* sponspors part start */
.sponspors-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
.sponspors-text{
    max-width: 550px;
    text-align: center;
}
.sponspors-logos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}
.sponspors-logos .logo img{
    width: 100%;
    height: auto;
}
/* sponspors part end */
/* footer part start */
footer{
    margin: 30px 0;
    text-align: center;
}
footer .footer-text{
    background-color: #FFF4E7;
    padding: 35px 0;
}
.footer-text p{
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 32px;
}
/* footer part end */